{{define "title"}}About - Math Olympiad Platform{{end}}

{{define "content"}}
<h2>About Math Olympiad Platform</h2>
<p>
    Welcome to the Math Olympiad Platform, a place designed for math enthusiasts, learners, and problem-solvers! 
    The primary goal of this platform is to provide an effective method for studying and exploring mathematical concepts.
</p>
<p>
    Each problem on this platform is carefully curated to teach a unique idea or technique. 
    Additionally, the platform includes blog posts that dive deep into the theorems, strategies, 
    and mathematical principles used in solving these problems. 
    This approach ensures that every challenge contributes to your learning and growth.
</p>
<p>
    Whether you're preparing for a math competition, improving your skills, or just exploring the beauty of mathematics, 
    this is the perfect space to learn, practice, and challenge yourself.
</p>
<h3>Contact Information</h3>
<ul>
    <li>Email: <a href="mailto:arthurasanaliev17@gmail.com">arthurasanaliev17@gmail.com</a></li>
    <li>GitHub: <a href="https://github.com/arthurasanaliev" target="_blank">github.com/arthurasanaliev</a></li>
</ul>
<p>
    Stay curious, keep solving, and enjoy the journey into the world of mathematics!
</p>
{{end}}
